:root {
  --clr-primary: #c69963;
  --clr-primary-dark: #b28451;

  --clr-secondary: #101d2c;

  --clr-grey-light-1: #f9f7f6;
  --clr-grey-light-2: #aaa;

  --clr-grey-dark-1: #54483a;
  --clr-grey-dark-2: #6d5d4b;
}
