.features {
  padding: 15rem 2rem;
  
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

}

.feature {
  display: flex;
  gap: 2rem;
  flex: 1 1 36rem;

  &__icon-box {
    transform: translateY(-1rem);
  }

  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: var(--clr-primary);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__text {
    font-size: 1.7rem;
  }
}