.container {
  display: flex;

  @media screen and(max-width: 1000px) {
    flex-direction: column;
  }
}

.main {
  flex: 1 1 0;
}

.header__realtors-container {
  height: 80vh;
  display: flex;

  @media screen and(max-width: 1000px) {
    height: 60vh;
  }

  @media screen and(max-width: 800px) {
    flex-direction: column;
    height: 70vh;
  }

  @media screen and(max-width: 600px) {
    height: 80vh;
  }
}

.story-container {
  height: 35vw;
  display: flex;

  @media screen and(max-width: 900px) {

    flex-direction: column;
    height: auto;
  }

}
